@charset "UTF-8";
@media only screen and (min-width: 1200px) {
  body {
    background-color: #f3eded; }
    body nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body nav #logo {
        height: 15%;
        width: 15%; }
      body nav a {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        border: 1px solid #121212;
        padding: 1%;
        background-color: #ffffff; }
        body nav a:hover {
          background-color: #121212;
          color: #e7e4e4; }
    body #titulo {
      text-align: center;
      color: #0e0d0d;
      font-family: 'Nixie One', cursive;
      font-size: large;
      background-color: #e7e4e4; }
    body #fromhome {
      animation: maquina 7s alternate;
      font-style: italic;
      font-weight: bolder; }
  @keyframes maquina {
    from {
      width: 70%; }
    to {
      width: 140%; } }
    body #ingreso {
      background-image: linear-gradient(to right, #121212, #665f5f);
      height: 20vw;
      width: 30%;
      margin-left: 35%;
      text-align: center;
      display: grid; }
      body #ingreso h3 {
        margin-top: 0;
        font-family: 'Poppins', sans-serif;
        font-size: xx-large;
        color: #c9c3c3;
        font-weight: bold;
        grid-row: 1/2; }
      body #ingreso #ingresositio {
        grid-template-rows: 10% 40% 20% 30%; }
        body #ingreso #ingresositio #usuario {
          margin-top: 0;
          grid-row: 2/3;
          width: 80%;
          height: 10%; }
        body #ingreso #ingresositio #contraseña {
          margin-top: 5%;
          grid-row: 3/4;
          width: 80%;
          height: 10%; }
        body #ingreso #ingresositio #inputIngreso {
          margin-top: 5%;
          height: 10%;
          width: 25%;
          grid-row: 4/5;
          color: #312d2d;
          font-weight: bolder;
          background-color: #d1cdcd;
          font-family: 'Poppins', sans-serif;
          text-align: center; }
        body #ingreso #ingresositio #usuario, body #ingreso #ingresositio #contraseña, body #ingreso #ingresositio #inputIngreso {
          border: black solid 2px; }
    body #registrate {
      text-align: center;
      margin-top: 0;
      font-family: 'Poppins', sans-serif;
      font-size: small;
      color: #312d2d;
      font-weight: bold; }
    body #registro {
      background-image: linear-gradient(to right, #121212, #665f5f);
      height: 20vw;
      width: 30%;
      margin-left: 35%;
      text-align: center;
      display: grid; }
      body #registro #registrositio {
        display: grid;
        grid-template-rows: 10% 20% 20% 20% 30%;
        grid-template-columns: 10% 10% 10% 20% 20% 10% 10% 10%; }
        body #registro #registrositio h3 {
          grid-row: 1/2;
          grid-column: 3/7;
          margin-top: 0;
          font-family: 'Poppins', sans-serif;
          font-size: xx-large;
          color: #c9c3c3;
          font-weight: bold; }
        body #registro #registrositio #registrousuario {
          margin-top: 10%;
          grid-row: 2/3;
          grid-column: 2/8;
          height: 45%; }
        body #registro #registrositio #registrocontraseña {
          margin-top: 12%;
          grid-row: 3/4;
          grid-column: 2/8;
          height: 45%; }
        body #registro #registrositio #confirmarcontraseña {
          margin-top: 5%;
          grid-row: 4/5;
          grid-column: 2/8;
          height: 45%; }
        body #registro #registrositio #inputRegistro {
          margin-top: 12%;
          height: 40%;
          grid-row: 5/6;
          grid-column: 4/6;
          color: #312d2d;
          font-weight: bolder;
          background-color: #d1cdcd;
          font-family: 'Poppins', sans-serif;
          text-align: center; }
        body #registro #registrositio #registrousuario, body #registro #registrositio #registrocontraseña, body #registro #registrositio #confirmarcontraseña, body #registro #registrositio #inputRegistro {
          border: black solid 2px; }
    body footer {
      background-image: linear-gradient(to right, #121212, #665f5f);
      padding: 6px;
      color: #d1cdcd; } }
@media only screen and (min-width: 768px) and (max-width: 1120px) {
  body {
    background-color: #f3eded; }
    body nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body nav #logo {
        height: 25%;
        width: 25%; }
      body nav a {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        border: 1px solid #121212;
        padding: 1%;
        background-color: #ffffff; }
        body nav a:hover {
          background-color: #121212;
          color: #e7e4e4; }
    body #titulo {
      text-align: center;
      color: #0e0d0d;
      font-family: 'Nixie One', cursive;
      font-size: large;
      background-color: #e7e4e4; }
    body #ingreso {
      background-image: linear-gradient(to right, #121212, #665f5f);
      height: 30vw;
      width: 50%;
      margin-right: 25%;
      margin-left: 25%;
      text-align: center;
      display: grid; }
      body #ingreso h3 {
        margin-top: 0;
        font-family: 'Poppins', sans-serif;
        font-size: xx-large;
        color: #c9c3c3;
        font-weight: bold;
        grid-row: 1/2; }
      body #ingreso #ingresositio {
        grid-template-rows: 10% 40% 20% 30%; }
        body #ingreso #ingresositio #usuario {
          margin-top: 0;
          grid-row: 2/3;
          width: 80%;
          height: 10%; }
        body #ingreso #ingresositio #contraseña {
          margin-top: 2%;
          grid-row: 3/4;
          width: 80%;
          height: 10%; }
        body #ingreso #ingresositio #inputIngreso {
          margin-top: 5%;
          margin-bottom: 5%;
          height: 15%;
          width: 25%;
          grid-row: 4/5;
          color: #312d2d;
          font-weight: bolder;
          background-color: #d1cdcd;
          font-family: 'Poppins', sans-serif;
          text-align: center; }
        body #ingreso #ingresositio #usuario, body #ingreso #ingresositio #contraseña, body #ingreso #ingresositio #inputIngreso {
          border: black solid 2px; }
    body #registrate {
      text-align: center;
      margin-top: 0;
      font-family: 'Poppins', sans-serif;
      font-size: small;
      color: #312d2d;
      font-weight: bold; }
    body #registro {
      background-image: linear-gradient(to right, #121212, #665f5f);
      height: 30vw;
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
      text-align: center;
      display: grid; }
      body #registro #registrositio {
        display: grid;
        grid-template-rows: 10% 20% 20% 20% 30%;
        grid-template-columns: 10% 10% 10% 20% 20% 10% 10% 10%; }
        body #registro #registrositio h3 {
          grid-row: 1/2;
          grid-column: 3/7;
          margin-top: 0;
          font-family: 'Poppins', sans-serif;
          font-size: large;
          color: #c9c3c3;
          font-weight: bold; }
        body #registro #registrositio #registrousuario {
          margin-top: 5%;
          grid-row: 2/3;
          grid-column: 2/8;
          height: 45%; }
        body #registro #registrositio #registrocontraseña {
          margin-top: 2%;
          grid-row: 3/4;
          grid-column: 2/8;
          height: 45%; }
        body #registro #registrositio #confirmarcontraseña {
          margin-top: 2%;
          grid-row: 4/5;
          grid-column: 2/8;
          height: 45%; }
        body #registro #registrositio #inputRegistro {
          margin-top: 2%;
          height: 45%;
          grid-row: 5/6;
          grid-column: 4/6;
          color: #312d2d;
          font-weight: bolder;
          background-color: #d1cdcd;
          font-family: 'Poppins', sans-serif;
          text-align: center; }
        body #registro #registrositio #registrousuario, body #registro #registrositio #registrocontraseña, body #registro #registrositio #confirmarcontraseña, body #registro #registrositio #inputRegistro {
          border: black solid 2px; }
    body footer {
      background-image: linear-gradient(to right, #121212, #665f5f);
      padding: 6px;
      color: #d1cdcd; } }
@media only screen and (min-width: 600px) and (max-width: 768px) {
  body {
    background-color: #f3eded; }
    body nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body nav #logo {
        height: 40%;
        width: 30%; }
      body nav a {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        border: 1px solid #121212;
        padding: 1%;
        background-color: #ffffff; }
        body nav a:hover {
          background-color: #121212;
          color: #e7e4e4; }
    body #titulo {
      text-align: center;
      color: #0e0d0d;
      font-family: 'Nixie One', cursive;
      font-size: large;
      background-color: #e7e4e4; }
    body #ingreso {
      background-image: linear-gradient(to right, #121212, #665f5f);
      height: 35vw;
      width: 50%;
      margin-right: 25%;
      margin-left: 25%;
      text-align: center;
      display: grid; }
      body #ingreso #ingresositio {
        grid-template-rows: 10% 40% 20% 30%; }
        body #ingreso #ingresositio h3 {
          margin-top: 0;
          font-family: 'Poppins', sans-serif;
          font-size: xx-large;
          color: #c9c3c3;
          font-weight: bold;
          grid-row: 1/2; }
        body #ingreso #ingresositio #usuario {
          margin-top: 0;
          grid-row: 2/3;
          width: 80%;
          height: 10%; }
        body #ingreso #ingresositio #contraseña {
          margin-top: 2%;
          grid-row: 3/4;
          width: 80%;
          height: 10%; }
        body #ingreso #ingresositio #inputIngreso {
          margin-top: 5%;
          margin-bottom: 5%;
          height: 15%;
          width: 25%;
          grid-row: 4/5;
          color: #312d2d;
          font-weight: bolder;
          background-color: #d1cdcd;
          font-family: 'Poppins', sans-serif;
          text-align: center; }
        body #ingreso #ingresositio #usuario, body #ingreso #ingresositio #contraseña, body #ingreso #ingresositio #inputIngreso {
          border: black solid 2px; }
    body #registrate {
      text-align: center;
      margin-top: 0;
      font-family: 'Poppins', sans-serif;
      font-size: small;
      color: #312d2d;
      font-weight: bold; }
    body #registro {
      background-image: linear-gradient(to right, #121212, #665f5f);
      height: 35vw;
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
      text-align: center;
      display: grid; }
      body #registro #registrositio {
        display: grid;
        grid-template-rows: 10% 20% 20% 20% 30%;
        grid-template-columns: 10% 10% 10% 20% 20% 10% 10% 10%; }
        body #registro #registrositio h3 {
          grid-row: 1/2;
          grid-column: 3/7;
          margin-top: 0;
          font-family: 'Poppins', sans-serif;
          font-size: large;
          color: #c9c3c3;
          font-weight: bold; }
        body #registro #registrositio #registrousuario {
          margin-top: 5%;
          grid-row: 2/3;
          grid-column: 2/8;
          height: 45%; }
        body #registro #registrositio #registrocontraseña {
          margin-top: 2%;
          grid-row: 3/4;
          grid-column: 2/8;
          height: 45%; }
        body #registro #registrositio #confirmarcontraseña {
          margin-top: 2%;
          grid-row: 4/5;
          grid-column: 2/8;
          height: 45%; }
        body #registro #registrositio #inputRegistro {
          margin-top: 2%;
          height: 45%;
          grid-row: 5/6;
          grid-column: 4/6;
          color: #312d2d;
          font-weight: bolder;
          background-color: #d1cdcd;
          font-family: 'Poppins', sans-serif;
          text-align: center; }
        body #registro #registrositio #registrousuario, body #registro #registrositio #registrocontraseña, body #registro #registrositio #confirmarcontraseña, body #registro #registrositio #inputRegistro {
          border: black solid 2px; }
    body footer {
      background-image: linear-gradient(to right, #121212, #665f5f);
      padding: 6px;
      color: #d1cdcd; } }
@media only screen and (max-width: 600px) {
  body {
    background-color: #f3eded; }
    body nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body nav #logo {
        height: 50%;
        width: 40%; }
      body nav a {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        border: 1px solid #121212;
        padding: 1%;
        background-color: #ffffff; }
        body nav a:hover {
          background-color: #121212;
          color: #e7e4e4; }
    body #titulo {
      text-align: center;
      color: #0e0d0d;
      font-family: 'Nixie One', cursive;
      font-size: medium;
      background-color: #e7e4e4; }
    body #ingreso {
      background-image: linear-gradient(to right, #121212, #665f5f);
      height: 50vw;
      width: 70%;
      margin-right: 15%;
      margin-left: 15%;
      text-align: center;
      display: grid; }
      body #ingreso #ingresositio {
        grid-template-rows: 10% 40% 20% 30%; }
        body #ingreso #ingresositio h3 {
          margin-top: 0;
          font-family: 'Poppins', sans-serif;
          font-size: large;
          color: #c9c3c3;
          font-weight: bold;
          grid-row: 1/2; }
        body #ingreso #ingresositio #usuario {
          margin-top: 5%;
          grid-row: 2/3;
          width: 80%;
          height: 15%; }
        body #ingreso #ingresositio #contraseña {
          margin-top: 5%;
          grid-row: 3/4;
          width: 80%;
          height: 15%; }
        body #ingreso #ingresositio #inputIngreso {
          margin-top: 5%;
          margin-bottom: 15%;
          height: 15%;
          width: 45%;
          grid-row: 4/5;
          color: #312d2d;
          font-weight: bolder;
          background-color: #d1cdcd;
          font-family: 'Poppins', sans-serif;
          text-align: center; }
        body #ingreso #ingresositio #usuario, body #ingreso #ingresositio #contraseña, body #ingreso #ingresositio #inputIngreso {
          border: black solid 2px; }
    body #registrate {
      text-align: center;
      margin-top: 0;
      font-family: 'Poppins', sans-serif;
      font-size: small;
      color: #312d2d;
      font-weight: bold; }
    body #registro {
      background-image: linear-gradient(to right, #121212, #665f5f);
      height: 50vw;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      text-align: center;
      display: grid; }
      body #registro #registrositio {
        display: grid;
        grid-template-rows: 10% 20% 20% 20% 30%;
        grid-template-columns: 10% 10% 10% 20% 20% 10% 10% 10%; }
        body #registro #registrositio h3 {
          grid-row: 1/2;
          grid-column: 3/7;
          margin-top: 0;
          font-family: 'Poppins', sans-serif;
          font-size: large;
          color: #c9c3c3;
          font-weight: bold; }
        body #registro #registrositio #registrousuario {
          margin-top: 5%;
          grid-row: 2/3;
          grid-column: 2/8;
          height: 45%; }
        body #registro #registrositio #registrocontraseña {
          margin-top: 2%;
          grid-row: 3/4;
          grid-column: 2/8;
          height: 45%; }
        body #registro #registrositio #confirmarcontraseña {
          margin-top: 2%;
          grid-row: 4/5;
          grid-column: 2/8;
          height: 45%; }
        body #registro #registrositio #inputRegistro {
          margin-top: 5%;
          height: 45%;
          grid-row: 5/6;
          grid-column: 4/6;
          color: #312d2d;
          font-weight: bolder;
          background-color: #d1cdcd;
          font-family: 'Poppins', sans-serif;
          text-align: center; }
        body #registro #registrositio #registrousuario, body #registro #registrositio #registrocontraseña, body #registro #registrositio #confirmarcontraseña, body #registro #registrositio #inputRegistro {
          border: black solid 2px; }
    body footer {
      background-image: linear-gradient(to right, #121212, #665f5f);
      padding: 6px;
      color: #d1cdcd; } }

/*# sourceMappingURL=usuarios.css.map */
